body {
    background-color: #d1d1d1;
}

#dino-barn {
    display: flex;
}
.dinosaur {
    border: 2px solid red;
    width: 200px;
}

#assignments {
display: flex;

flex-flow: row wrap; 

}
.assignment {
   
    border: 2px solid black;
    background-color: white;
    text-align: center;
    width: 300px;
    padding: 15px;
}

